---
layout: default
---
<article class="photo-single">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
    {% if page.description %}<p>{{ page.description }}</p>{% endif %}
  </div>
  <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
  <div class="photo-meta">
    <table>
      {% if page.camera %}
      <tr><th>Camera</th><td>{{ page.camera }}</td></tr>
      {% endif %}
      {% if page.lens %}
      <tr><th>Lens</th><td>{{ page.lens }}</td></tr>
      {% endif %}
      {% if page.film %}
      <tr><th>Film</th><td>{{ page.film }}</td></tr>
      {% endif %}
      {% if page.film_format %}
      <tr><th>Format</th><td>{{ page.film_format }}</td></tr>
      {% endif %}
      {% if page.exposure_compensation %}
      <tr><th>Exposure</th><td>{{ page.exposure_compensation }}</td></tr>
      {% endif %}
      {% if page.developed_by %}
      <tr><th>Developed</th><td>{{ page.developed_by }}</td></tr>
      {% endif %}
      {% if page.location %}
      <tr><th>Location</th><td>{{ page.location }}</td></tr>
      {% endif %}
      {% if page.date %}
      <tr><th>Date</th><td>{{ page.date | date_to_string }}</td></tr>
      {% endif %}
    </table>
    {% if page.tags %}
    <ul class="tag-list">
      {% assign tags = page.tags | split: " " %}
      {% for tag in tags %}
      <li><a href="{{ site.baseurl }}tags/{{ tag }}/">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
